//- Mixin modal win
//- ====================================================================================================================

mixin addModalWin(modalClass, modalImg)
	- modalClass = modalClass || "no class name"
	- modalImg = modalImg || "no img"

	div(class=`${pageClass}-modal ${pageClass}-modal__win ${pageClass}-modal__${modalClass}`)
		div(class=`${pageClass}-modal__close`).arcticmodal-close
			div(class=`${pageClass}-modal__closeImg`, style="background-image: url(assets/img/modal/close.png)")
		div(class=`${pageClass}-modal__bg`)
		div(class=`${pageClass}-modal__body`)
			div(class=`${pageClass}-modal__info`)
				div(class=`${pageClass}-modal__title`)
					span Вы выиграли!
				div(class=`${pageClass}-modal__wrapper`)
					div(class=`${pageClass}-modal__img`)
						img(src=modalImg)
					div(class=`${pageClass}-modal__text`)
						block