//- Mixin modal enter
//- ====================================================================================================================

mixin addModalEnter()
	div(class=`${pageClass}-modal ${pageClass}-modal__enter`)
		div(class=`${pageClass}-modal__close`).arcticmodal-close
			div(class=`${pageClass}-modal__closeImg`, style="background-image: url(assets/img/modal/close.png)")
		div(class=`${pageClass}-modal__bg`)
		div(class=`${pageClass}-modal__body`)
			div(class=`${pageClass}-modal__text`)
				span Для участия Вам необходимо
				span
					span(class=`${pageClass}-modal__textColor`) войти
					| или
					span(class=`${pageClass}-modal__textColor`) зарегистрироваться
					| !
			div(class=`${pageClass}-modal__action`)
				a(href="#!" class=`${pageClass}-modal__btn ${pageClass}-modal__btn--main ${pageClass}-btn ${pageClass}-btn--main`)
					span Войти
				a(href="#!" class=`${pageClass}-modal__btn ${pageClass}-modal__btn--secondary ${pageClass}-btn ${pageClass}-btn--secondary`)
					span Регистрация
