//- Mixin block timer
//- ====================================================================================================================


mixin addTimer(classTimer, timerTitle)
	- timerTitle = timerTitle || "до розыгрыша осталось:"
	if classTimer
		- var newClass = `${pageClass}-${classTimer}`
	else
		- var newClass = ""

	div(class=`${pageClass}-timer ${newClass}`)&attributes(attributes)
		div(class=`${pageClass}-timer__title`)
			span= timerTitle
		div(class=`${pageClass}-timer__wrapper`)
			ul(class=`${pageClass}-timer__list`)
				li
					b 11
					span Дней
				li
					b 22
					span Часов
				li
					b 33
					span Минут
				li
					b 44
					span Секунд