//- Mixin block img
//- ====================================================================================================================


mixin addImg(classImg, urlImg)
	if classImg
		- var newClass = `${pageClass}-${classImg}`
	else
		- var newClass = ""

	div(class=`${pageClass}-img ${newClass}`)&attributes(attributes)
		img(src=urlImg)